{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- ==============================================
        Basic Page Needs
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- end -->
        
        <link rel="stylesheet" href="{% static 'css/cards-ie.css' %}">
        <link rel="stylesheet" href="{% static 'css/cards-ie9.css' %}">
        <link rel="stylesheet" href="{% static 'css/cards.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

        <title>Control Drawing Test</title>
    </head>
    <style>
        body {
            background-image: url("../static/img/thePaperBackground.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            
        }
    </style>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <form action="/example">
                    <input type="submit" value="Go to Example" />
                </form>
            </li>
            <li class="nav-item">
                <form action="/drawingtest">
                    <input type="submit" value="Go to Drawing Test" />
                </form>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/output">output</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/theBoard">Board Playtest</a>
              </li>
          </ul>
        </div>
      </nav>
<!-- end navbar -->
<!-- Deck --><br><br>
<div class="playingCards faceImages">
    <ul class="deck">
        <!-- <li><div class="card back" id="1">*</div></li>
        <li><div class="card back" id="2">*</div></li>
        <li><div class="card back" id="3">*</div></li>
        <li><div class="card back" id="4">*</div></li>
        <li><div class="card back" id="5">*</div></li>
        <li><div class="card back" id="6">*</div></li>
        <li><div class="card back" id="7">*</div></li>
        <li><div class="card back" id="8">*</div></li>
        <li><div class="card back" id="9">*</div></li>
        <li><div class="card back" id="10">*</div></li>
        <li><div class="card back" id="11">*</div></li>
        <li><div class="card back" id="12">*</div></li>
        <li><div class="card back" id="13">*</div></li>
        <li><div class="card back" id="14">*</div></li>
        <li><div class="card back" id="15">*</div></li> -->
<!-- 15 is the card on top of the deck in this case -->

        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>

        
    </ul>
</div>
<button onclick="removeCardFromDeck()">removeCardFromDeck</button>
<!-- End Deck -->
<!-- Hand -->



<button onclick="drawFromDeck()">Draw from Deck</button>
<button onclick="cardtoHand()">Draw from Deck into hand</button>
<button onclick="createFocusedCard()">createFocuedCardHere</button>

<br><br><br>

<div class="playingCards faceImages">
    <ul class="hand" id="createNewHandHere">
        <li class="card rank-k cardSpace"></li>
    </ul>
</div>

<!-- This version of Draw takes an existing list of ul, div, and spans, then adds the classes and text after. 
only usefull with something else dictating what classes, and with a loop iterating through the set if ul, div, and spans -->
<br><br><br>
<div class="bigPlayingCards faceImages">
    <ul class="hand" id="createNewHandHere">
        <li class="bigCard rank-k nova"></li>
    </ul>
</div>
<div class="row">
    <div class="col col-3">
        <button onclick="toggleHandDisplay()" id="toggleMeDaddy">Toggle Card View</button>
    </div>
    <div class="col col-4">
        <div class="playingCards faceImages" id="createNewCardHere" style="min-height: 30vh ;">
            <ul class="hand" id="#" style="bottom: 70px;">
                <li class="card rank-k cardSpace" style="margin-left: -2.5em !important;"></li>
                <li class="card rank-k cardSpace" style="margin-left: 2.2em !important;"></li>
                <li class="card rank-k cardSpace" style="margin-left: 6.8em !important;"></li>
                <li class="card rank-k cardSpace" style="margin-left: 11.5em !important;"></li>
                <li class="card rank-k cardSpace" style="margin-left: 16.2em !important;"></li>
            </ul>
            <ul class="hand" id="#">
                <li class="card rank-k cardSpace" style="margin-left: -2.5em !important;"></li>
                <li class="card rank-k cardSpace" style="margin-left: 2.2em !important;"></li>
                <li class="card rank-k cardSpace" style="margin-left: 6.8em !important;"></li>
                <li class="card rank-k cardSpace" style="margin-left: 11.5em !important;"></li>
                <li class="card rank-k cardSpace" style="margin-left: 16.2em !important;"></li>
            </ul>

        </div>
        <!-- TODO: disable scroll -->

        <div class="bigPlayingCards faceImages">
            <ul class="hand" id="createNewHandHere">
                <li class="bigCard rank-k nova"></li>
                    <li class="slideRight">
                        <div class="button_slide slide_down">
                            Play Card
                        </div>
                    </li>
                    <li class="slideRightLess">
                        <div class="button_slide slide_down">
                            Activate Card
                        </div>
                    </li>
            </ul>
        </div>
        <div class="playingCards rotateHand" id="currentSpotForHand">
            <ul class="hand" id="createNewHandHere">
                
            </ul>
            
            
        </div>
    </div>
    <div class="col col-3"></div>

</div>
<br><br><br>
<div class="playingCards faceImages">
    <ul class="hand">
        <li>
            <a onclick="testt()" id="hand">
                <div class="card rank-k nova" onmouseover="addPadding()" id="usee">

            </div></a>

        </li>
        <li id="newCardInHand11" class="card rank-k exoticMatter" onmouseover="addPadding()"></li>
        <li id="newCardInHand11" class="card rank-k exoticMatter" onmouseover="addPadding()"></li>

    </ul>
</div>

<div class="playingCards faceImages" id="createNewCardHere">

</div>
<div class="bigPlayingCards faceImages" id="createFocusedCardHere">

</div>
<div class="playingCards rotateHand">
    <ul class="hand" id="createNewHandHere">

    </ul>
</div>
<div class="playingCards rotateHand">
    <ul class="hand" id="createNewHandHere">
        <li id="newCardInHand12" onclick="focus()" class="card rank-k timeStop"></li>
        <li id="newCardInHand11" class="card rank-k exoticMatter"></li>
        <li id="newCardInHand10" class="card rank-k rift"></li>
        <li id="newCardInHand9" class="card rank-k reactor"></li>
        <li id="newCardInHand8" class="card rank-k wormhole"></li>
        <li id="newCardInHand7" class="card rank-k nova"></li>
        <li id="newCardInHand6" class="card rank-k singularity"></li>
        <li id="newCardInHand5" class="card rank-k futureShift"></li>
        <li id="newCardInHand4" class="card rank-k forceField"></li>
        <li id="newCardInHand3" class="card rank-k antimatter"></li>
        <li id="newCardInHand2" class="card rank-k deflector"></li>
        <li id="newCardInHand1" onclick="createFocusedCard(this.id)" class="card rank-k darkEnergy"></li>
    </ul>
</div>
        <!-- <li>
            <div class="card rank-k nova">
                <span class="rank">K</span>
                <span class="suit"></span>
            </div>
        </li>
        <li>
            <div class="card rank-k nova">
                <span class="rank">K</span>
                <span class="suit"></span>
            </div>
        </li>
        <li>
            <div class="card rank-k nova">
                <span class="rank">K</span>
                <span class="suit"></span>
            </div>
        </li>
        <li>
            <div class="card rank-k nova">
                <span class="rank">K</span>
                <span class="suit"></span>
            </div>
        </li>
        <li>
            <div class="card rank-k nova">
                <span class="rank">K</span>
                <span class="suit"></span>
            </div>
        </li>
        <li>
            <div class="card rank-k nova">
                <span class="rank">K</span>
                <span class="suit"></span>
            </div>
        </li> -->

</div>

<!-- End Hand -->




<!-- JS links -->
<script type="text/javascript" src = "{% static 'js/CardClasses.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>