{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- ==============================================
        Basic Page Needs
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- end -->
        
        <link rel="stylesheet" href="{% static 'css/cards-ie.css' %}">
        <link rel="stylesheet" href="{% static 'css/cards-ie9.css' %}">
        <link rel="stylesheet" href="{% static 'css/cards.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

        <title>The Board</title>
    </head>
    <style>
        body {
            background-image: url("../static/img/thePaperBackground.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            
        }
    </style>
<!-- Nav and buttons -->
    <div class="row" style="padding-bottom: 10vh;">
        <div class="col-1 col">
            <button class="btn btn-transparent" ><a href="../drawingtest" style="color: rgb(194, 87, 26);">Back</a></button>
        </div>
        <div class="col-2 col">
        </div>
        <div class="col-2 col">
        </div>
        <div class="col-3 col">
            <a onclick="start()" class="btn9" id="startButton">
                <span>Start</span>
            <div class="transition"></div>
        </a>
        </div>
    </div>

    <!-- the deck -->
    <div class="row">
        <div class="col col-1"></div>
        <div class="col col-4 playingCards faceImages">
                <ul class="deck" id="createDeckHere">
                </ul>
        </div>
        <div class="col col-2"></div>
        <div class="col col-3">
            <div class="col col-4 playingCards faceImages">
                <ul class="deck" id="discardDeckHere">
                </ul>
        </div>
        </div>
    </div>


<div class="row">
    <div class="col col-3">
        <button onclick="toggleDiscardPlay()" id="toggleMeDaddy">Toggle Discard</button>
    </div>
    <div class="col col-6">
        <div class="playingCards faceImages" id="createNewCardHere" style="min-height: 30vh ;">
            <ul class="hand" id="player1Board" style="bottom: 100px; z-index: 1000;">
                <li class="card rank-k cardSpace cardSpace0" id="p1BoardSlot0"></li>
                <li class="card rank-k cardSpace cardSpace1" id="p1BoardSlot1"></li>
                <li class="card rank-k cardSpace cardSpace2" id="p1BoardSlot2"></li>
                <li class="card rank-k cardSpace cardSpace3" id="p1BoardSlot3"></li>
                <li class="card rank-k cardSpace cardSpace4" id="p1BoardSlot4"></li>
            </ul>
            <ul class="hand" id="player0Board" style="bottom: 100px;">
                <li class="card rank-k cardSpace cardSpace0" id="p0BoardSlot0"></li>
                <li class="card rank-k cardSpace cardSpace1" id="p0BoardSlot1"></li>
                <li class="card rank-k cardSpace cardSpace2" id="p0BoardSlot2"></li>
                <li class="card rank-k cardSpace cardSpace3" id="p0BoardSlot3"></li>
                <li class="card rank-k cardSpace cardSpace4" id="p0BoardSlot4"></li>
            </ul>

        </div>
        <div class="bigPlayingCards faceImages" id="createFocusedCardHere">
            <ul class="hand" id="focusCardButton">
                
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-2"></div>
        <div class="playingCards faceImages" style="top: 20%;" id="currentSpotForHand">
            <ul class="hand" id="createNewHandHere">
            </ul>
        </div>
    </div>
    <div class="col col-3">
        <button class="btn" onclick="clearBoard()">End Turn</button>
    </div>
</div>

    







<!-- JS links -->
<script type="text/javascript" src = "{% static 'js/CardClasses.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/theGame.js' %}"></script>
</html>