.tempPadding {
    margin-bottom: 3.5em !important;
    z-index: 100000;
}

#currentSpotForHand {
  margin-top: 12em;
}

/* Button 9 */
.btn9{
    padding: 20px 10px;
    margin:10px 4px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
     overflow:hidden;
  /*    border:1px solid #6098FF; */
  }
  .btn9 span{
    background:#00002E;
    width:100%;
    position:relative;
    padding:10px 70px;
     -moz-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
  /*   border:1px solid #6098FF;  */
  }
  .transition{
      position: absolute;
      top: -10%;
      left: 0%;
      width: 100%;
      height: 0%;
      background: #80ffd3;
      z-index:-1;
  /*     -ms-transform: skewX(-50deg); 
      -webkit-transform: skewX(-50deg); 
      transform: skewX(-50deg); */
  }
  .btn9:hover span{
    color: #80ffd3!important;
  }
  .btn9:hover .transition{
    height:100%;
    top:101%;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  }

/* button slide */

  .button_slide {
    color: #FFF;
    border: 2px solid rgb(89, 2, 187);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-align: center !important;
  }
  
  .slide_down:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
  }
  
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
  }
  
  .slide_left:hover {
    box-shadow: inset 0 0 0 50px #D80286;
  }
  
  .slide_diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #D80286;
  }
  
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }

  .slideRight {
    padding-left: 17em !important;
    margin-bottom: 55% !important;
  }
  .slideRightLess {
    padding-left: 15em !important;
    margin-bottom: 20% !important;
  }

  /* #createNewHandHere {

    margin-top: -20% !important;
  } */

  @media all and (max-width: 1000px) and (min-width: 700px) {
    #createNewHandHere {
     margin-top: 50px !important;
    }
  }

  #focusCardButton {
      margin-top: -65% !important;
  }  


  .rotateSpaceRight {
    transform: rotate(90deg);
  }

  #newCardInHand1 {
    left: -5em !important;
    z-index: 100;
  }

  #newCardInHandonBoard0 {
    z-index: 100;
  }

  #onenewCardInHandonBoard0 {
    z-index: 100;
    transform: rotate(180deg);
  }

  #onenewCardInHandonBoard1 {
    z-index: 100;
    transform: rotate(180deg);
  }

  #onenewCardInHandonBoard2 {
    z-index: 100;
    transform: rotate(180deg);
  }

  #onenewCardInHandonBoard3 {
    z-index: 100;
    transform: rotate(180deg);
  }

  #onenewCardInHandonBoard4 {
    z-index: 100;
    transform: rotate(180deg);
  }

  #newCardInDiscardonBoard0 {
    z-index: 100;
  }

  #newCardInDiscardonBoard1 {
    z-index: 100;
  }

  #newCardInDiscardonBoard2 {
    z-index: 100;
  }

  #newCardInDiscardonBoard3 {
    z-index: 100;
  }

  #newCardInDiscardonBoard4 {
    z-index: 100;
  }

  #newCardInDiscardonBoard5 {
    z-index: 100;
  }

  #newCardInDiscardonBoard6 {
    z-index: 100;
  }

  #newCardInHand2 {
    left: 1.1em !important;
    z-index: 100;
  }

  #newCardInHandonBoard1 {
    z-index: 100;
  }
  
  #newCardInHand3{
    left: 7.2em !important;
    z-index: 100;
  }

  #newCardInHand4 {
    left: 13.3em !important;
    z-index: 100;
  }

  #newCardInHand5 {
    left: 19.4em !important;
    z-index: 100;
  }

  #newCardInHand6 {
    left: 25.5em !important;
    z-index: 100;
  }

  #newCardInHand7 {
    left: 31.6em !important;
    z-index: 100;
  }

  #newCardInHand8 {
    left: -11.3em !important;
    z-index: 100;
  }

  .cardSpace0 {
    margin-left: -2.5em !important;
  }

  .cardSpace1 {
    margin-left: 2.2em !important;
  }

  .cardSpace2 {
    margin-left: 6.8em !important;
  }

  .cardSpace3 {
    margin-left: 11.5em !important;
  }

  .cardSpace4 {
    margin-left: 16.2em !important;
  }