
/* suit colours
********************************************************************/

.playingCards .card.cardSpace {
    color: #f00 !important;
}
.playingCards.fourColours .card.cardSpace {
    color: #00f !important;
}
[lang=de] .playingCards.fourColours .card.cardSpace {
    color: #f60 !important;
}
/*____________ symbols in the middle (suits, full) ____________*/

/* diamonds */
.playingCards .card.rank-2.cardSpace .suit:after {
    content: "\2666 \A\A\2666";
}
.playingCards .card.rank-3.cardSpace .suit:after {
    content: "\2666 \A\2666 \A\2666";
}
.playingCards .card.rank-4.cardSpace .suit:after {
    content: "\2666\00A0\00A0\00A0\2666 \A\A\2666\00A0\00A0\00A0\2666";
}
.playingCards .card.rank-5.cardSpace .suit:after {
    content: "\2666\00A0\00A0\00A0\2666 \A\2666 \A\2666\00A0\00A0\00A0\2666";
}
.playingCards .card.rank-6.cardSpace .suit:after {
    content: "\2666\00A0\00A0\00A0\2666 \A\2666\00A0\00A0\00A0\2666 \A\2666\00A0\00A0\00A0\2666";
}
.playingCards .card.rank-7.cardSpace .suit:after {
    content: "\2666\00A0\00A0\2666 \A\2666\00A0\2666\00A0\2666 \A\2666\00A0\00A0\2666";
}
.playingCards .card.rank-8.cardSpace .suit:after {
    content: "\2666\00A0\2666\00A0\2666 \A\2666\00A0\00A0\2666 \A\2666\00A0\2666\00A0\2666";
}
.playingCards .card.rank-9.cardSpace .suit:after {
    content: "\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666";
}
.playingCards .card.rank-10.cardSpace .suit:after {
    content: "\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666\00A0\2666 \A\2666\00A0\2666\00A0\2666";
}

.playingCards.faceImages .card.rank-k.cardSpace  { background-image: url("../img/cards/cardSpace.png"); background-size: contain;}
